.modalWrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modalWrapper.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  padding: 24px;
  background: #ffffff;
  border-radius: 16px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
